	<section id="no-cliente" *ngIf="!dataClientes.length && !action">
		<h1 align="center">Não há clientes cadastrados.</h1>
		<!-- <p>{{route.snapshot.paramMap.get('id')}}</p> -->
		<p align="center">
			<button mat-raised-button color="primary" [routerLink]="['/cliente/novo']">Adicionar Novo Cliente</button>
		</p>
	</section>

	<section id="listagem" *ngIf="dataClientes.length > 0 && !action">
		<h1 align="center">Clientes cadastrados</h1>
		<table mat-table [dataSource]="dataClientes" class="mat-elevation-z8">

			<!-- ID -->
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef> ID </th>
				<td mat-cell *matCellDef="let element"> {{element.id}} </td>
			</ng-container>

			<!-- Nome -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef> Nome </th>
				<td mat-cell *matCellDef="let element"> {{element.name}} </td>
			</ng-container>

			<!-- Telefone -->
			<ng-container matColumnDef="tel">
				<th mat-header-cell *matHeaderCellDef> Telefone </th>
				<td mat-cell *matCellDef="let element"> {{element.tel}} </td>
			</ng-container>

			<!-- Documento -->
			<ng-container matColumnDef="cpf">
				<th mat-header-cell *matHeaderCellDef> Documento </th>
				<td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
			</ng-container>
			
			<!-- Opções -->
			<ng-container matColumnDef="options">
				<th mat-header-cell *matHeaderCellDef> Opções </th>
				<td mat-cell *matCellDef="let element">
					<button mat-icon-button aria-label="Ver detalhes" color="primary" (click)="verCliente(element)">
						<mat-icon>search</mat-icon>
					</button>
					<button mat-icon-button aria-label="Editar" color="primary" (click)="editarCliente(element.id)">
						<mat-icon color="#ba000d">create</mat-icon>
					</button>
					<button mat-icon-button aria-label="Delete" color="primary" (click)="deleteCliente(element.id)">
						<mat-icon color="#ba000d">delete</mat-icon>
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</section>

	<section id="ver-cliente" *ngIf="action == 'ver' && clienteActive !== 'undefined'">
		<h1 align="center">Detalhes do Cliente #{{clienteActive.id}}</h1>
		<table *ngIf="clienteActive">
			<tr>
				<td width="200">Nome</td>
				<td>{{clienteActive.name}}</td>
			</tr>
			<tr>
				<td>Telefone</td>
				<td>{{clienteActive.tel}}</td>
			</tr>
			<tr>
				<td>CPF</td>
				<td>{{clienteActive.cpf}}</td>
			</tr>
			<tr>
				<td>Estado</td>
				<td>{{clienteActive.uf}}</td>
			</tr>
			<tr>
				<td>Cidade</td>
				<td>{{clienteActive.cidade}}</td>
			</tr>
			<tr>
				<td>Logradouro</td>
				<td>{{clienteActive.logradouro}}</td>
			</tr>
		</table>
		<div class="text-center">
			<h2 align="center">Produtos</h2>
			<mat-form-field appearance="fill" class="mx-auto">
				<mat-label>Adicionar Produto</mat-label>
				<mat-select [(value)]="produtoSelect">
					<mat-option *ngFor="let produto of produtos" [value]="produto">
						{{produto.name + ' / ' + produto.preco}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<button mat-flat-button aria-label="Adicionar produto" color="accent" (click)="addProduto(produtoSelect)">
				<mat-icon>check</mat-icon> Adicionar
			</button>
		</div>
		
		<table class="text-center" *ngIf="clienteActive && clienteActive.itens.length">
			<thead>				
				<th>Cód.</th>
				<th>Nome</th>
				<th>Preço</th>
				<th></th>
			</thead>
			<tr *ngFor="let item of clienteActive.itens; index as i;">
				<td>{{item.cod}}</td>
				<td>{{item.name}}</td>
				<td>{{item.preco}}</td>
				<td width="30">
					<button mat-icon-button aria-label="Delete" color="primary" (click)="deleteProduto(i)">
						<mat-icon color="#ba000d">delete</mat-icon>
					</button>
				</td>
			</tr>
		</table>
	</section>

	<section id="cadastro" *ngIf="action == 'novo'" max-width="800px">
		<h1 align="center">Cadastrar Cliente</h1>
		<mat-horizontal-stepper [linear]="true" #stepper>
			<mat-step [stepControl]="firstFormGroup">
				<form [formGroup]="firstFormGroup">
					<ng-template matStepLabel>Dados pessoais</ng-template>
					<input type="hidden" formControlName="id">
					<mat-form-field class="full-width">
						<mat-label>Nome</mat-label>
						<input matInput placeholder="Seu nome" formControlName="name" required>
					</mat-form-field>
					<mat-form-field class="width-50">
						<mat-label>Telefone</mat-label>
						<input matInput placeholder="Telefone" formControlName="tel" required>
					</mat-form-field>
					<mat-form-field class="width-50">
						<mat-label>CPF</mat-label>
						<input matInput placeholder="CPF" formControlName="cpf" required>
					</mat-form-field>
					<div align="center">
						<button mat-raised-button color="primary" matStepperNext>Próximo</button>
					</div>
				</form>
			</mat-step>
			<mat-step [stepControl]="secondFormGroup" label="Endereço">
				<form [formGroup]="secondFormGroup">
					<mat-form-field appearance="fill" required class="width-50">
						<mat-label>Estado</mat-label>
						<mat-select (selectionChange)="getCidades($event)" formControlName="uf">
							<mat-option *ngFor="let estado of estados" [value]="estado.sigla">
								{{estado.nome}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field appearance="fill" required class="width-50">
						<mat-label>Cidade</mat-label>
						<mat-select [disabled]="!cidades" formControlName="cidade">
							<mat-option *ngFor="let cidade of cidades" [value]="cidade.nome">
								{{cidade.nome}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="full-width">
						<mat-label>Logradouro</mat-label>
						<input matInput formControlName="logradouro" placeholder="Ex. Rua A, 158, Centro"
						required>
					</mat-form-field>
					<div align="center">
						<button class="mr-1" mat-raised-button color="primary" matStepperPrevious>Anterior</button>
						<button mat-raised-button color="primary" matStepperNext>Próximo</button>
					</div>
				</form>
			</mat-step>
			<mat-step>
				<ng-template matStepLabel>Concluir</ng-template>
				<h3 align="center">Você terminou o cadastro. Confira os dados:</h3>
				<table>
					<tr>
						<td width="200">Nome</td>
						<td>{{firstFormGroup.value.name}}</td>
					</tr>
					<tr>
						<td>Telefone</td>
						<td>{{firstFormGroup.value.tel}}</td>
					</tr>
					<tr>
						<td>CPF</td>
						<td>{{firstFormGroup.value.cpf}}</td>
					</tr>
					<tr>
						<td>Estado</td>
						<td>{{secondFormGroup.value.uf}}</td>
					</tr>
					<tr>
						<td>Cidade</td>
						<td>{{secondFormGroup.value.cidade}}</td>
					</tr>
					<tr>
						<td>Logradouro</td>
						<td>{{secondFormGroup.value.logradouro}}</td>
					</tr>
				</table>
				<div class="text-center">
					<button class="mr-2" mat-raised-button color="secondary" matStepperPrevious>Voltar</button>
					<button mat-raised-button color="primary" (click)="saveCliente()">Enviar dados</button>
				</div>
			</mat-step>
		</mat-horizontal-stepper>
	</section>
	<section id="editar" *ngIf="action == 'editar' && clienteActive !== 'undefined'" class="text-center">
		<div *ngIf="clienteActive">
			<h1>Editar Cliente</h1>
			<h2>({{clienteActive.name}})</h2>
			<input type="hidden">
			<mat-form-field class="full-width">
				<mat-label>Nome</mat-label>
				<input matInput placeholder="Seu nome" required [(ngModel)]="clienteActive.name">
			</mat-form-field>
			<mat-form-field class="width-50">
				<mat-label>Telefone</mat-label>
				<input matInput placeholder="Telefone" required [(ngModel)]="clienteActive.tel">
			</mat-form-field>
			<mat-form-field class="width-50">
				<mat-label>CPF</mat-label>
				<input matInput placeholder="CPF" required [(ngModel)]="clienteActive.cpf">
			</mat-form-field>

			<mat-form-field appearance="fill" required class="width-50">
				<mat-label>Estado</mat-label>
				<mat-select (selectionChange)="getCidades($event)"  [(ngModel)]="clienteActive.uf">
					<mat-option *ngFor="let estado of estados" [value]="estado.sigla">
						{{estado.nome}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="fill" required class="width-50">
				<mat-label>Cidade</mat-label>
				<mat-select [disabled]="!cidades"  [(ngModel)]="clienteActive.cidade">
					<mat-option *ngFor="let cidade of cidades" [value]="cidade.nome">
						{{cidade.nome}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>Logradouro</mat-label>
				<input matInput  [(ngModel)]="clienteActive.logradouro" placeholder="Ex. Rua A, 158, Centro"
				required>
			</mat-form-field>
			<div class="text-center">
				<button class="mr-2" mat-raised-button color="secondary" [routerLink]="['/cliente']">Voltar</button>
				<button mat-raised-button color="primary" (click)="saveCliente(true)">Salvar</button>
			</div>
		</div>
	</section>